.registermain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #46c882;
  animation: fadeIn 0.5s ease-in; /* Add animation */
  margin-top: 20px;
}

.register-container {
  max-width: 410px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  /*border: 5px solid rgb(0 192 177); /* Adjust width and color as needed */
  background-color: #e3eee7;
  animation: fadeIn 0.5s ease-in; /* Add animation */
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.avatar-container {
  margin-bottom: 5px;
}

.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.register-heading {
  margin-top: -16px;
  margin-bottom: 20px;
  color: #32543c;
}

.rstep2 {
  font-size: x-large;
  margin-bottom: 20px;
  text-align: center;
  color: #32543c;
}

.form-group {
  margin-bottom: 15px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-inputc {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #32543c;
}

.form-inputO {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #32543c;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox-label {
  margin-right: 10px;
  margin-top: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: #32543c;
  text-align: center;
}

.submit-button {
  margin-top: 4px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 192, 177);
  color: white;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: medium;
}

.fsubmit-button {
  margin-top: 20px;
  margin-left: 15px;
  width: 74%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 192, 177);
  color: white;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: medium;
}

.back-button {
  padding: 10px;
  background-color: lightcoral;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: medium;
  border: none;
  border-radius: 5px;
}

.account-type-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

.firstacbutton {
  width: 155px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(175 201 199);
  color: #32543c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.secondacbutton {
  width: 155px;
  padding: 7px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(175, 201, 199);
  color: #32543c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.firstacbutton.selected {
  background-color: #4d8bff; /* Set the desired color for the selected state */
  color: white; /* Set the text color for the selected state */
}

.secondacbutton.selected {
  background-color: #4d8bff; /* Set the desired color for the selected state */
  color: white; /* Set the text color for the selected state */
}

.interest-button {
  background-color: light greenyellow;
  color: black;
  margin: 5px;
  padding: 4px;
}

.interest-button.selected {
  background-color: #4d8bff; /* Set the desired color for the selected state */
  color: white; /* Set the text color for the selected state */
}

.interests-heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #32543c;
}

.login-link {
  margin-top: 25px;
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #32543c;
}

.success-message {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
  color: #32543c;
}

.successHeading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: x-large;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px;
  color: #32543c;
}

.form2 {
  animation: fadeIn 0.5s ease-in; /* Add animation */
}

.form3 {
  animation: fadeIn 0.5s ease-in; /* Add animation */
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.f2label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  animation: fadeIn 0.5s ease-in; /* Add animation */
  color: #32543c;
}

/* Define the fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
