.registermain {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #46c882;
  animation: fadeIn 0.5s ease-in;
  margin-top: 50px;
}

.body {
  background-color: #007bff;
}

.register-container {
  margin-top: auto;
  max-width: 410px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background-color: #e3eee7;
  animation: fadeIn 0.5s ease-in;
}

h1, .register-heading, .rstep2, .checkbox-label, .login-link, .success-message, .successHeading, .f2label {
  font-family: system-ui, sans-serif;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.register-heading {
  margin: -16px 0 20px;
  color: #32543c;
}

.form-group {
  margin-bottom: 15px;
}

.form-input, .form-inputc, .form-inputO {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-inputc, .form-inputO {
  margin-top: 15px;
  color: #32543c;
}

.checkbox {
  display: flex;
  align-items: center;
}

.submit-button, .fsubmit-button {
  margin-top: 4px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 192, 177);
  color: white;
  cursor: pointer;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: medium;
  transition: background-color 0.3s ease;
}

.fsubmit-button {
  margin-top: 20px;
  margin-left: 8px;
  width: 70%;
}

.back-button {
  margin: 5px 0;
  padding: 1px 5px;
  color: #848484;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: smaller;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.back-button:hover {
  color: black;
}

.account-type-buttons {
  margin: 20px 0;
}

.firstacbutton, .secondacbutton {
  margin-bottom: 5px;
  width: 50%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(175, 201, 199);
  color: #32543c;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.secondacbutton {
  width: calc(50% - 8px);
  margin-left: 8px;
}

.firstacbutton.selected, .secondacbutton.selected {
  background-color: #4d8bff;
  color: white;
}

.interest-button {
  background-color: white;
  color: black;
  margin: 5px;
  padding: 6px;
  border: 1px solid black;
  border-radius: 10px;
}

.interest-button.selected {
  background-color: #a258f9;
  color: white;
}

.interests-heading {
  font-size: medium;
  margin: 20px 0 10px;
  color: #32543c;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}