.main-text,
.button-container {
  animation: fadeIn 1s ease-in-out; /* Apply animation to main text */
}

@keyframes slideIn {
  from {
    transform: translateY(-50px); /* Start position */
    opacity: 0; /* Start opacity */
  }
  to {
    transform: translateY(0); /* End position */
    opacity: 1; /* End opacity */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start opacity */
  }
  to {
    opacity: 1; /* End opacity */
  }
}
