.registermain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #46c882;
  animation: fadeIn 0.5s ease-in; /* Add animation */
}

.register-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid rgb(0 192 177); /* Adjust width and color as needed */
  background-color: #e3eee7;
  animation: fadeIn 0.5s ease-in; /* Add animation */
  margin-top: 50px;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-container {
  margin-bottom: 5px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.register-heading {
  margin-top: -15px;
  margin-bottom: 20px;
  color: #32543c;
}

.form-group {
  margin-bottom: 15px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox-label {
  margin-right: 10px;
  margin-top: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: #32543c;
  text-align: center;
}

.submit-button {
  margin-top: 4px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 192, 177);
  color: white;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: medium;
}

.login-link {
  margin-top: 25px;
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #32543c;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

/* Define the fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
