/* vol.css */

.volunteer-explorer-page {
  animation: fadeIn 0.5s ease-in; /* Add fadeIn animation */
}

.filter-dropdown {
  margin-bottom: 20px;
  padding: 8px;
  font-size: 16px;
  border-radius: 15px;
  background-color: #fefff0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555671;
  animation: fadeIn 0.5s ease-in; /* Add fadeIn animation */
}

.campaign-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* Three columns */
  gap: 20px; /* Gap between cards */
  animation: fadeIn 0.5s ease-in; /* Add fadeIn animation */
}

.campaign-card {
  border: 1px solid #fefff0;
  border-radius: 15px;
  padding: 50px;
  margin-bottom: 10px;
  background-color: #fefff0;
  font-family: Arial, Helvetica, sans-serif;
  color: #555671;
  animation: fadeIn 0.5s ease-in; /* Add fadeIn animation */
}

.filtered-results-section {
  max-height: 400px;
  /*overflow-y: auto;*/
  animation: fadeIn 0.5s ease-in; /* Add fadeIn animation */
}

.spageheading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: xx-large;
  font-weight: bold;
  color: #fefff0;
  margin-bottom: 50px;
  padding: 10px;
  text-align: center;
  animation: fadeIn 0.5s ease-in; /* Add fadeIn animation */
}

/* Media query for smaller screens */
@media screen and (max-width: 1200px) {
  .campaign-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Two columns */
  }
}

@media screen and (max-width: 800px) {
  .campaign-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr)); /* One column */
  }
}

/* Define the fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
